<%= turbo_stream.update "product_section" do %>
    <% if @products.empty? %>
        <div class="col-span-3 text-center text-gray-500">
            No products found matching your search.
        </div>
    <% end %>

    <% @products.each do |product| %>
        <%= render "product", product: product, mode: params[:mode] %>
    <% end %>
<% end %>
